body {
    background-color: #e6e6e6;
  }

  @-webkit-keyframes color_change {
      from { text-shadow: #ffffff; }
      to { text-shadow: 0 0 20px #EA8C55; }
  }
  @-moz-keyframes color_change {
      from { text-shadow: #ffffff; }
      to { text-shadow: 0 0 20px #EA8C55; }
  }
  @-ms-keyframes color_change {
      from { text-shadow: #ffffff; }
      to { text-shadow: 0 0 20px #EA8C55; }
  }
  @-o-keyframes color_change {
      from { text-shadow: #ffffff; }
      to { text-shadow: 0 0 30px #EA8C55; }
  }

  #Button {
    margin: 1rem;
    margin-bottom: 2rem;
  }

  #Button:hover {
    background-color: #540804;
    border-color: #540804;
    color: #ffffff;
  }

  .navbar-brand {
    color:#ffffff;
    /* background-color: #540804; */
    text-shadow: #ffffff;
    animation: color_change 20s ease-in-out infinite alternate;
  }

  .navbar-brand:hover {
    color: #ffffff;
  }

  .navbar-brand.active {
    font-weight: bold;
    color: #e6e6e6;
    animation: color_change 20s ease-in-out infinite alternate;
  }

  .bg-1 {
    background-color: #001b07;
    color: #ffffff;
  }

  .bg-2 {
    background-color: #174b1e;
    color: #ffffff;
    border-color: #000000;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #174b1e;
  }

  .table {
    border: 2px solid #00000055;
    border-collapse: separate;
    border-radius: 10px;
  }

  html {
    visibility: visible;
    opacity: 1;
  }
